@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: linear-gradient(
      135deg,
      #212431 0%,
      #2d2723 33%,
      #181a1a 66%,
      #161618 100%
    )
    fixed;
  color: #d3d1d1;
  font-family: "Poppins", sans-serif;
}
input[type="date"] {
  border: 1px solid #ccc;
  padding: 8px;
}
input[type="time"] {
  border: 1px solid #ccc !important;
  padding: 8px;
  color: white !important;
  /* filter: invert(1); */
}

/* For WebKit browsers (Chrome, Safari) */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}
input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(1);
}

/* For Firefox */
input[type="date"]::-moz-focus-inner {
  border: 0;
  color: white; /* Ensure text is white */
}
